{
  //Default rules
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["react", "prettier"],
  // Ensures that lint understands ES6 syntax such as const
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {},
  "env": {
    "browser": true, // enables globals like document and window
    "jest": true, //enables jest globals
    "node": true //enables globals like __dirname and modul
  },
  "rules": {
    "no-console": "error",
    "comma-dangle": [
      "error",
      {
        "arrays": "never",
        "objects": "always",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }
    ]
  }
}
